.page-title {
    font-size: 20pt;
    border-bottom: black;
    text-align: center;
    text-decoration: overline;
    text-decoration: underline;
}

body {
    text-align: center;
    border-style: double;
    border-width: 5px;
}
